@{  
    Layout = null;
    var list = ViewData["PictureList"] as PagedList<PicturesCategory>;
    //var category = ViewData["PicturesCategory"] as IList<PicturesCategory>;
    long year = Request["year"].ToInt(0);
    string keyword = Request["keyword"]; 
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Admin_Meta")
    <title>图片列表</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">       
        <div class="cl pd-5 bg-1 bk-gray mt-20"> 
        <span class="l"><a class="btn btn-primary radius"  onclick="Picture_action('添加图片', '/Pictures/Pictureview')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加图片</a></span> 
        <span class="l">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="l">
         <span class="select-box inline">
             <select id="year" name="year" class="select">
                 <option value="0">-年-</option>
             </select>
       </span>
         <input type="text" name="keyword" id="keyword" placeholder="名称" value="@(keyword.IsNullOrEmpty() ? "" : keyword)" style="width:250px" class="input-text">
        <button name="btnSearch" id="btnSearch" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
       </span>
      </div>
      <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-responsive">
                <thead>
                    <tr class="text-c">                        
                        <th width="80">ID</th>
                        <th width="120">标题</th>
                        <th>描述</th> 
                        <th width="120">出版日期</th>                      
                        <th width="120">更新时间</th>
                        <th width="75">创建日期</th>                        
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (list != null && list.Count > 0)
                    {
                        foreach (var o in list)
                        {
                            
                          <tr class="text-c">
                            <td>@(o.CategoryId)</td>
                            <td class="text-l">@(o.Name)</td>
                            <td>@(o.Description)</td>
                            <td>@((o.PublicDate==null?"--":String.Format("yyyy年MM月dd日",o.PublicDate)))</td>
                            <td>@(o.LastModifiedTime)</td>
                            <td>@(o.CreatedTime)</td>
                            <td class="f-14 td-manage">
                            <a style="text-decoration:none" class="ml-5" onclick="Picture_action('图片编辑', '/Pictures/Pictureview?id=@(o.CategoryId)')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
                            <a style="text-decoration:none" class="ml-5" onclick="Picture_del(this, '@(o.CategoryId)')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                          </tr>
                        }
                    }
                    
                   
                </tbody>
            </table>
          <div class="cl pd-5 bg-1 bk-gray mt-20">@Html.Pager(list)</div>    
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    @Html.Partial("_Admin_Footer")  <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/Hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Hui/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSearch").click(function () {                
                window.location.href = "@Url.Action("List")?year=" + $("#year").val() + "&month=" + $("#month").val() + "&day=" + $("#day").val() + "&keyword=" + $("#keyword").val();
            })
        })
        /*图片-添加编辑*/
        function Picture_action(title, url, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }       
      
        /*图片-删除*/
        function Picture_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PictureRemove")?PictureId=' + id,
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }
</script>
</body>
</html>