@{   
    Layout = null;

    var category = ViewData["Pictures"] as IList<Pictures>;
    var p = ViewData["PictureCategory"] as PicturesCategory;
    if (p == null) { p = new PicturesCategory(); }  
   
    
}
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Admin_Meta")
    <title>新增文章 - 资讯管理 - H-ui.admin v3.1</title>
 </head>
<body>
    <Picture class="page-container">
        <form class="form form-horizontal" id="form-Picture">
            <input type="hidden" value="@(p.CategoryId)" id="CategoryId" name="CategoryId">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Name)" placeholder="" id="Name" name="Name">
                </div>
            </div>            
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">描述：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea id="Description" name="Description" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="描述不能为空！" onkeyup="$.Huitextarealength(this,200)">@(p.Description)</textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">图片1：</label>
                <div class="formControls col-xs-8 col-sm-9"> 
                    <div class="uploader-thum-container">                       
                      <div id="fileList" class="uploader-list"></div>
                        <div id="filePicker">选择图片</div>                       
                    </div>                 
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    <button id="cancle" name="cancle" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </Picture>

    <!--_footer 作为公共模版分离出去-->
   @Html.Partial("_Admin_Footer")  <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/Hui/lib/webuploader/0.1.5/webuploader.js"></script> 
    <script type="text/javascript">
        var BASE_URL = '/Hui/lib/webuploader/0.1.5'; 
        var thumbnailWidth = 50;
        var thumbnailHeight = 50;
        
    $(function () {
        // 初始化Web Uploader
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
           // auto: true,
            // swf文件路径
            swf: BASE_URL + '/Uploader.swf',
            // 文件接收服务端。
            server: '/Pictures/UploadPhoto',            
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {            
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img>' +
                        '<div class="info">' + file.name + '</div>' +
                    '</div>'
                    ),
                $img = $li.find('img');
           
            // $list为容器jQuery实例
            $("#fileList").append($li);
          
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

               $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
            alert("111");
        });
        // 文件上传过程中创建进度条实时显示。
        //uploader.on('uploadProgress', function (file, percentage) {
        //    alert(file);
        //    var $li = $('#' + file.id),
        //        $percent = $li.find('.progress span');

        //    // 避免重复创建
        //    if (!$percent.length) {
        //        $percent = $('<p class="progress"><span></span></p>')
        //                .appendTo($li)
        //                .find('span');
        //    }

        //    $percent.css('width', percentage * 100 + '%');
        //});

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file) {
            alert("333");
            $('#' + file.id).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            alert("444");
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });


        $("#cancle").click(function () {
            var index = parent.layer.getFrameIndex(window.name);           
            parent.layer.close(index);
        });
        //表单验证
        $("#form-Picture").validate({
            rules: {
                Title: {
                    required: true,
                },               
                Description: {
                    required: true,
                },
                Contents: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                var htmls = ue.getContent();                
                $("#Contents").val(htmls);
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/Pictures/PictureAction",
                    success: function (data) {
                        if (data.success) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index);
                        }
                        else {
                            $.Huimodalalert(data.message, 3000);
                        }
                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        $.Huimodalalert('网络超时,请检查网络连接！', 2000);
                    }
                });
            }
        });       
    });
    </script> 
</body>
</html>