@{   
    Layout = null;  
}
<!DOCTYPE html>
<html>
<head>
 @Html.Partial("_Admin_Meta")
<title>我的桌面</title>
</head>
<body>
    <div class="page-container">
        <p class="f-20 text-success">欢迎使用皓修网后台管理！</p>      
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th colspan="7" scope="col">信息统计</th>
                </tr>
                <tr class="text-c">
                    <th>统计</th>
                    <th>资讯库</th>
                    <th>图片库</th>
                    <th>产品库</th>
                    <th>用户</th>
                    <th>管理员</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>总数</td>
                    <td>92</td>
                    <td>9</td>
                    <td>0</td>
                    <td>8</td>
                    <td>20</td>
                </tr>
                <tr class="text-c">
                    <td>今日</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>昨日</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>本周</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>本月</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-border table-bordered table-bg mt-20">
            <thead>
                <tr>
                    <th colspan="2" scope="col">服务器信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th width="30%">服务器计算机名</th>
                    <td><span id="lbServerName">@(Server.MachineName)</span></td>
                </tr>
                <tr>
                    <td>服务器IP地址</td>
                    <td>@(Request.ServerVariables.Get("Local_Addr"))</td>
                </tr>
                <tr>
                    <td>服务器域名</td>
                    <td>@(Request.ServerVariables["Server_Name"])</td>
                </tr>
                <tr>
                    <td>服务器端口 </td>
                    <td>@(Request.ServerVariables["Server_Port"])</td>
                </tr>
                <tr>
                    <td>服务器IIS版本 </td>
                    <td>@(Request.ServerVariables["SERVER_SOFTWARE"])</td>
                </tr>
                <tr>
                    <td>本文件所在文件夹 </td>
                    <td>@(Request.PhysicalApplicationPath)</td>
                </tr>
                <tr>
                    <td>服务器操作系统 </td>
                    <td>@(Environment.OSVersion.ToString())</td>
                </tr>
                <tr>
                    <td>系统所在文件夹 </td>
                    <td>@(Environment.ExpandEnvironmentVariables("%SystemRoot%"))</td>
                </tr>
                <tr>
                    <td>服务器脚本超时时间 </td>
                    <td>@(Server.ScriptTimeout)</td>
                </tr>               
                <tr>
                    <td>.NET Framework 版本 </td>
                    <td>.NET CLR  @(Environment.Version.Major).@(Environment.Version.Minor).@(Environment.Version.Build).@(Environment.Version.Revision)</td>
                </tr>
                <tr>
                    <td>服务器当前时间 </td>
                    <td>@(DateTime.Now)</td>
                </tr>   
            </tbody>
        </table>
    </div>  
    @Html.Partial("_Admin_Footer")    
</body>
</html>