@using MSNet.Tools;
@{
    int? menuIndex = ViewBag.MenuIndex;    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jfn.v2.js")" type="text/javascript"></script>
</head>
<body id="body2">
    <div class="page">
        <div id="header">
            <div id="logo"><img src="~/Content/IImages/Logo.png" alt="中海外大拇指传媒" title="中海外大拇指传媒" /></div>
            <div id="navDiv">
                <ul class="nav">
                    <li><a href="/" class="a2">首页</a></li>
                    <li><a href="/AboutUs" class="a1">关于我们</a></li>
                    <li><a href="/News" class="a1">新闻动态</a></li>
                    <li><a href="/Movie" class="a1">影视中心</a></li>
                    <li><a href="/Performing" class="a1">演艺中心</a></li>
                    <li><a href="/Art" class="a1">艺术品中心</a></li>
                    <li><a href="/Ad" class="a1">中影广告</a></li>
                    <li><a href="/Works" class="a1">作品欣赏</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    @RenderBody()
    <div class="clear"></div>
</body>
</html>
