@{   
    Layout = null;

    var category = ViewData["ArticlesCategory"] as IList<ArticlesCategory>;
    var p = ViewData["Article"] as Articles;
    if (p == null) { p = new Articles(); }  
   
    
}
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Admin_Meta")
    <title>新增文章 - 资讯管理 - H-ui.admin v3.1</title>
 </head>
<body>
    <article class="page-container">
        <form class="form form-horizontal" id="form-article">
            <input type="hidden" value="@(p.ArticleId)" id="ArticleId" name="ArticleId">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Title)" placeholder="" id="Title" name="Title">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        <select id="CategoryId" name="CategoryId" class="select">                            
                            @if (category != null && category.Count > 0)
                            {
                                foreach (var o in category)
                                {
                                    <option value="@(o.CategoryId)" @(p.CategoryId == o.CategoryId ? "selected" : "")>@(o.Name)</option>
                                }
                            }
                        </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文章摘要：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea id="Description" name="Description" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onkeyup="$.Huitextarealength(this,200)">@(p.Description)</textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文章作者：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Editor)" placeholder="" id="Editor" name="Editor">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文章来源：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Media)" placeholder="" id="Media" name="Media">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
                   <div style=" display:none;">
                       <textarea id="Contents" name="Contents">@(p.Contents)</textarea>
                   </div>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    <button id="cancle" name="cancle" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
   @Html.Partial("_Admin_Footer")  <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/Hui/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript" src="/Hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="/Hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="/Hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>  
    <script type="text/javascript">
    $(function () {
        var ue = UE.getEditor('editor');
        ue.ready(function () { //设置编辑器的内容           
            ue.setContent($("#Contents").val());           
        });

        $("#cancle").click(function () {
            var index = parent.layer.getFrameIndex(window.name);           
            parent.layer.close(index);
        });
        //表单验证
        $("#form-article").validate({
            rules: {
                Title: {
                    required: true,
                },               
                Description: {
                    required: true,
                },
                Contents: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                var htmls = ue.getContent();                
                $("#Contents").val(htmls);
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/Articles/ArticleAction",
                    success: function (data) {
                        if (data.success) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index);
                        }
                        else {
                            $.Huimodalalert(data.message, 3000);
                        }
                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        $.Huimodalalert('网络超时,请检查网络连接！', 2000);
                    }
                });
            }
        });       
    });
    </script> 
</body>
</html>