@{
    Layout = null; 
    var roles = ViewData["UserRole"] as List<UserRole>;
    var p = ViewData["UserPassport"] as UserPassport;
    if (p == null) { p = new UserPassport(); }
}
<!DOCTYPE html>
<html>
<head>
@Html.Partial("_Admin_Meta")
<title>管理员信息维护</title>
</head>
<body>
    <div class="page-container">
        <form action="/Admin/AdminAction" method="post" class="form form-horizontal" id="form-submit">
            <input type="hidden" id="PassportId" name="PassportId" value="@(p.PassportId)">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    登录名：
                </label>
                @{if (p.PassportId == 0)
                {
                    <div class="formControls col-xs-6 col-sm-6"><input type="text" class="input-text" id="UserName" name="UserName" value="@(p.UserName)" placeholder=""></div>
                }
                else
                {
                    <div class="formControls col-xs-6 col-sm-6"><input type="hidden" id="UserName" name="UserName" value="@(p.UserName)">@(p.UserName)</div>
                }}
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    密码：
                </label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" class="input-text" id="Password" name="Password" value="" placeholder="@((p.PassportId == 0) ? "" : "不修改请留空")">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    手机：
                </label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" class="input-text" id="Mobile" name="Mobile" value="@(p.Mobile) " placeholder="">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    邮箱：
                </label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" class="input-text" id="Email" name="Email" value="@(p.Email) " placeholder="">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    角色：
                </label>
                <div class="formControls col-xs-8 col-sm-6">
                    <span class="select-box">
                        <select class="select" id="RoleId" name="RoleId">
                            <option value="0" @(p.RoleId == 0 ? "selected" : "")>无</option>
                            @if (roles != null && roles.Count > 0)
                            {
                                foreach (var o in roles)
                                {
                                    <option value="@(o.RoleId)" @(p.RoleId == o.RoleId ? "selected" : "")>@(o.Name)</option>
                                }
                            }
                        </select>
                    </span>
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">
                    <span class="c-red">*</span>
                    状态：
                </label>
                <div class="formControls col-xs-8 col-sm-6">
                    <span class="select-box">
                        <select class="select" id="PassportStatus" name="PassportStatus">
                            @foreach (var o in EnumHelper.GetDescriptionsInt<PassportStatus>())
                            {
                                <option value="@(o.Key))" @((int)p.PassportStatus == o.Key ? "selected" : "")>@(o.Value)</option>
                            }

                        </select>
                    </span>
                </div>
                <div class="col-3">
                </div>
            </div>         
            <div class="row cl">
                <div class="col-9 col-offset-2">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
    <!--_footer 作为公共模版分离出去-->
      @Html.Partial("_Admin_Footer") <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function () { 
            $("#form-submit").validate({
                rules: {},
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    $(form).ajaxSubmit();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload();
                    parent.layer.close(index);
                }
            });
        });
    </script>
</body>
</html>