@{
    ViewBag.Title = "网站后台管理-管理员列表";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var list = ViewData["UsersList"] as PagedList<MSNet.Common.Passports.UserPassport>;
    var user = MSNet.Common.Web.UserAuthentication.CurrentUser;
}
<div id="HMain">
<div class="Main">
<div class="HTitle"><a href="@Url.Action("adminlist")">管理员列表</a></div>
<div class="MMain">

    <table class="DataGrid" border="0" cellpadding="0" cellspacing="1">
    <tr class="Header">
    <td class="W_5"><input type="checkbox" class="ckAll" /></td>
    <td class="W_5">ID</td>
    <td>名称</td>
    <td class="W_15">邮箱</td>
    <td class="W_15">手机</td>
    <td class="W_10">角色</td>
    <td class="W_10">添加时间</td>
    <td class="W_10">修改时间</td>
    <td class="W_10">状态</td>
    <td class="W_15">操作</td>
    </tr>
    @if(list!=null&&list.Count()>0)
    {        
   
    foreach (var u in list)
    {
        string status = "正常";
        switch (u.PassportStatus)
        {
            case PassportStatus.Standard: status = "正常"; break;
            case PassportStatus.Locked: status = "锁定"; break;
            case PassportStatus.Hibernation: status = "休眠"; break;
            case PassportStatus.Cancellation: status = "作废"; break;             
        }
         <tr>
            <td class="Tal_C"><input type="checkbox" class="ckThis" value="@(u.PassportId)" /></td>
             <td class="Tal_C">@(u.PassportId)</td>
            <td>@(u.UserName)</td>
            <td class="Tal_C">@(u.Email.IsNullOrEmpty() ? "无" : u.Email)</td>
             <td class="Tal_C">@(u.Mobile.IsNullOrEmpty() ? "无" : u.Mobile)</td>
             <td class="Tal_C">@(u.Roles!=null?u.Roles.Name:"无")</td>
            <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(u.CreatedTime))</td>
            <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(u.LastModifiedTime))</td>
            <td class="Tal_C">@(status)</td>
            <td class="Tal_C">           
                <img class="DoImg" ids="edit" urls="/admin/AdminView?id=@(u.PassportId)" src="/Content/Images/edit.gif" title="编辑" />                  
            </td>
           </tr>
    }   
  }
  else
    {
        <tr><td class="Nodata" colspan="10">暂无其他管理员！</td></tr>
    }
  </table>
  <div class="ButonAdd">
   <span class="add" urls="@Url.Action("AdminView")"  title="添加管理员">添加管理员</span>   `
  </div>
  @Html.Pager(list)  
</div>
</div>
</div>
