@using MSNet.Models;
@{   
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var message = ViewData["Contact"] as Contact;
    ViewBag.Title = "修改联系方式";
}
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>

<div id="HMain">
<div class="Main">
<div class="HTitle">修改联系方式</div>
<div class="MMain">
<form id="form1" method="post" action="@Url.Action("ContactAction")">
    <table id="EditTable" class="Edit1" border="0" cellpadding="0" cellspacing="1">
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">战略合作:</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="StrategyName" name="StrategyName" class="Etext1" maxlength="50" value="@(message.StrategyName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="StrategyName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="StrategyPhone" name="StrategyPhone" class="Etext1" maxlength="50" value="@(message.StrategyPhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="StrategyPhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="StrategyEmail" name="StrategyEmail" class="Etext1" maxlength="50" value="@(message.StrategyEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="StrategyEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">中影广告</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="AdName" name="AdName" class="Etext1" maxlength="50" value="@(message.AdName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="AdName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="AdPhone" name="AdPhone" class="Etext1" maxlength="50" value="@(message.AdPhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="AdPhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="AdEmail" name="AdEmail" class="Etext1" maxlength="50" value="@(message.AdEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="AdEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">招商合作</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="BusinessName" name="BusinessName" class="Etext1" maxlength="50" value="@(message.BusinessName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="BusinessName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="BusinessPhone" name="BusinessPhone" class="Etext1" maxlength="50" value="@(message.BusinessPhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="BusinessPhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="BusinessEmail" name="BusinessEmail" class="Etext1" maxlength="50" value="@(message.BusinessEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="BusinessEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">设备租赁</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="RentedName" name="RentedName" class="Etext1" maxlength="50" value="@(message.RentedName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="RentedName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="RentedPhone" name="RentedPhone" class="Etext1" maxlength="50" value="@(message.RentedPhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="RentedPhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="RentedEmail" name="RentedEmail" class="Etext1" maxlength="50" value="@(message.RentedEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="RentedEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">投资合作</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="InvestmentName" name="InvestmentName" class="Etext1" maxlength="50" value="@(message.InvestmentName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="InvestmentName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="InvestmentPhone" name="InvestmentPhone" class="Etext1" maxlength="50" value="@(message.InvestmentPhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="InvestmentPhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="InvestmentEmail" name="InvestmentEmail" class="Etext1" maxlength="50" value="@(message.InvestmentEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="InvestmentEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">人才招聘</th></tr>
        <tr>
            <th>联系人</th>
            <td>
                <input type="text" id="ServiceName" name="ServiceName" class="Etext1" maxlength="50" value="@(message.ServiceName)"
                       data-val="true"
                       data-val-required="请输入联系人！" />
                <span class="field-validation-valid" data-valmsg-for="ServiceName" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>
                <input type="text" id="ServicePhone" name="ServicePhone" class="Etext1" maxlength="50" value="@(message.ServicePhone)"
                       data-val="true"
                       data-val-required="请输入联系方式！" />
                <span class="field-validation-valid" data-valmsg-for="ServicePhone" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr>
            <th>联系邮箱</th>
            <td>
                <input type="text" id="ServiceEmail" name="ServiceEmail" class="Etext1" maxlength="50" value="@(message.ServiceEmail)"
                       data-val="true"
                       data-val-required="请输入联系邮箱！" />
                <span class="field-validation-valid" data-valmsg-for="ServiceEmail" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr><th colspan="2" style="font-weight:bold; text-align:left; padding-left:11%;">二维码</th></tr>
        <tr>
            <th>二维码(1)</th>
            <td>
                <div id="AutoUpFile1">
                    @if (!message.QRCode1.IsNullOrEmpty())
                    {

                        <input type="button" class="AutoUpFile_Img" title="查看图片" value="查看图片" id="ShowPicture1"
                               iw="150"
                               ih="150"
                               iu="@(message.QRCode1)"
                               onclick="ShowPictureEvt(this)" />
                    }
                    <input type="hidden" id="QRCode1" name="QRCode1" class="AutoUpFile_File" value="@(message.QRCode1.IsNullOrEmpty() ? "" : message.QRCode1)" />
                    <input type="button" class="AutoUpFile_Button" title="上传文件" value="上传文件" id="UpPicture1" />(宽150px*高150px)
                </div>
            </td>
        </tr>
        <tr>
            <th>二维码(2)</th>
            <td>
                <div id="AutoUpFile2">
                    @if (!message.QRCode2.IsNullOrEmpty())
                    {
                        <input type="button" class="AutoUpFile_Img" title="查看图片" value="查看图片" id="ShowPicture2"
                               iw="150"
                               ih="150"
                               iu="@(message.QRCode2)"
                               onclick="ShowPictureEvt(this)" />
                    }
                    <input type="hidden" id="QRCode2" name="QRCode2" class="AutoUpFile_File" value="@(message.QRCode2.IsNullOrEmpty() ? "" : message.QRCode2)" />
                    <input type="button" class="AutoUpFile_Button" title="上传文件" value="上传文件" id="UpPicture2" /> (宽150px*高150px)
                </div>
            </td>
        </tr>
        <tr>
            <th>二维码(3)</th>
            <td>
                <div id="AutoUpFile3">
                    @if (!message.QRCode3.IsNullOrEmpty())
                    {
                        <input type="button" class="AutoUpFile_Img" title="查看图片" value="查看图片" id="ShowPicture3"
                               iw="150"
                               ih="150"
                               iu="@(message.QRCode3)"
                               onclick="ShowPictureEvt(this)" />
                    }
                    <input type="hidden" id="QRCode3" name="QRCode3" class="AutoUpFile_File" value="@(message.QRCode3.IsNullOrEmpty() ? "" : message.QRCode3)" />
                    <input type="button" class="AutoUpFile_Button" title="上传文件" value="上传文件" id="UpPicture3" /> (宽150px*高150px)
                </div>
            </td>
        </tr>        
    </table>
  <div class="ButtonDiv" id="ddDoing" style="display:none;"><img src="@Url.Content("~/Content/Images/ajax_loading.gif")" style="display:inline;" /> 正在提交...</div>
  <div class="ButtonDiv" id="ddButton" >
  <input type="submit" class="inputbutton" title="保存" value="保存" id="Save" /> 
  </div>
  <div class="ButtonDiv">
  <span id="MessageBox"></span>
  </div>
</form>

<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.extend.js")" type="text/javascript"></script>

<div id="ShowMain" style="display:none;">
      <img id="showImg" alt="" src="" />
</div>

    <script type="text/javascript">
        function ShowPictureEvt(o) {
            var iUrl = $(o).attr("iu");
            var iWidth = $(o).attr("iw");
            var iHeight = $(o).attr("ih");
            var dW = parseInt(iWidth) + 20;
            var dH = parseInt(iHeight) + 50;
            $("#showImg").css({ "width": iWidth + "px", "height": iHeight + "px" }).attr("src", iUrl);
            $("#ShowMain").dialog({
                title: "查看图片",
                width: dW,
                height: dH,
                resizable: false,
                modal: true
            });
        }

    </script>

    <div id="DoMain1" style="display:none;">
        <div class="Main">
            <div class="Body">
                <form id="DoMainForm1" method="post" action="/admin/UpLoadImage?fName=UploadFile1" enctype="multipart/form-data">
                    <input type="file" id="UploadFile1" name="UploadFile1" class="File" />&nbsp;<input id="FileUploadSubmit1" type="submit" value="上传文件" title="上传文件" />
                    <div class="Message">只能上传：jpg,gif,png类型文件，大小不能超过2M。</div>
                </form>
                <div id="Ajax_Loading1" style="display:none;">正在上传文件，请稍等……</div>
                <div id="UpMessage1"></div>
            </div>
        </div>
    </div>
    <div id="DoMain2" style="display:none;">
        <div class="Main">
            <div class="Body">
                <form id="DoMainForm2" method="post" action="/admin/UpLoadImage?fName=UploadFile2" enctype="multipart/form-data">
                    <input type="file" id="UploadFile2" name="UploadFile2" class="File" />&nbsp;<input id="FileUploadSubmit2" type="submit" value="上传文件" title="上传文件" />
                    <div class="Message">只能上传：jpg,gif,png类型文件，大小不能超过2M。</div>
                </form>
                <div id="Ajax_Loading2" style="display:none;">正在上传文件，请稍等……</div>
                <div id="UpMessage2"></div>
            </div>
        </div>
    </div>
    <div id="DoMain3" style="display:none;">
        <div class="Main">
            <div class="Body">
                <form id="DoMainForm3" method="post" action="/admin/UpLoadImage?fName=UploadFile3" enctype="multipart/form-data">
                    <input type="file" id="UploadFile3" name="UploadFile3" class="File" />&nbsp;<input id="FileUploadSubmit3" type="submit" value="上传文件" title="上传文件" />
                    <div class="Message">只能上传：jpg,gif,png类型文件，大小不能超过2M。</div>
                </form>
                <div id="Ajax_Loading3" style="display:none;">正在上传文件，请稍等……</div>
                <div id="UpMessage3"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function get_rsp_d(rsp) {
            var d = null;
            try {
                d = typeof rsp == 'string' ? rsp.toJsonObj() : rsp;
            }
            catch (ex) { d = { success: false, message: '操作失败，服务器异常' }; }
            return d;
        }
        $(function () {
            $("#UpPicture1").click(function () {
                $("#DoMain1").dialog({
                    title: "上传图片",
                    height: 150,
                    width: 400,
                    modal: true
                });
            });
            $("#DoMainForm1").submit(function () {
                var options = {
                    beforeSubmit: function (formData, jqForm, options) {
                        $("#UpMessage1").html("");
                        $("#Ajax_Loading1").show();
                        return true;
                    },
                    success: function (responseText, statusText) {
                        if (statusText == "success") {
                            var d = get_rsp_d(responseText);
                            if (d.success) {
                                $("#Ajax_Loading1").hide();
                                $("#QRCode1").val(d.message);
                                $("#DoMain1").dialog('close');
                            }
                            else {
                                $("#Ajax_Loading1").hide();
                                $("#UpMessage1").html("").html(d.message);
                            }
                        }
                        else {
                            $("#Ajax_Loading1").hide();
                            $("#UpMessage1").html("").html("提交失败");
                        }
                    }

                };
                $(this).ajaxSubmit(options);
                return false;
            });
        })
        $(function () {
            $("#UpPicture2").click(function () {
                $("#DoMain2").dialog({
                    title: "上传图片",
                    height: 150,
                    width: 400,
                    modal: true
                });
            });
            $("#DoMainForm2").submit(function () {
                var options = {
                    beforeSubmit: function (formData, jqForm, options) {
                        $("#UpMessage2").html("");
                        $("#Ajax_Loading2").show();
                        return true;
                    },
                    success: function (responseText, statusText) {
                        if (statusText == "success") {
                            var d = get_rsp_d(responseText);
                            if (d.success) {
                                $("#Ajax_Loading2").hide();
                                $("#QRCode2").val(d.message);
                                $("#DoMain2").dialog('close');
                            }
                            else {
                                $("#Ajax_Loading2").hide();
                                $("#UpMessage2").html("").html(d.message);
                            }
                        }
                        else {
                            $("#Ajax_Loading2").hide();
                            $("#UpMessage2").html("").html("提交失败");
                        }
                    }

                };
                $(this).ajaxSubmit(options);
                return false;
            });
        })
        $(function () {
            $("#UpPicture3").click(function () {
                $("#DoMain3").dialog({
                    title: "上传图片",
                    height: 150,
                    width: 400,
                    modal: true
                });
            });
            $("#DoMainForm3").submit(function () {
                var options = {
                    beforeSubmit: function (formData, jqForm, options) {
                        $("#UpMessage3").html("");
                        $("#Ajax_Loading3").show();
                        return true;
                    },
                    success: function (responseText, statusText) {
                        if (statusText == "success") {
                            var d = get_rsp_d(responseText);
                            if (d.success) {
                                $("#Ajax_Loading3").hide();
                                $("#QRCode3").val(d.message);
                                $("#DoMain3").dialog('close');
                            }
                            else {
                                $("#Ajax_Loading3").hide();
                                $("#UpMessage3").html("").html(d.message);
                            }
                        }
                        else {
                            $("#Ajax_Loading3").hide();
                            $("#UpMessage3").html("").html("提交失败");
                        }
                    }

                };
                $(this).ajaxSubmit(options);
                return false;
            });
        })
    </script>
<script type="text/javascript">
    $(function () {
        $("#StrategyName,#StrategyPhone,#StrategyEmail,#AdName,#AdPhone,#AdEmail").keyup(function () { $("#MessageBox").html(""); });
        $("#BusinessName,#BusinessPhone,#BusinessEmail,#RentedName,#RentedPhone,#RentedEmail").keyup(function () { $("#MessageBox").html(""); });
        $("#InvestmentName,#InvestmentPhone,#InvestmentEmail,#ServiceName,#ServicePhone,#ServiceEmail").keyup(function () { $("#MessageBox").html(""); });       
        $("#form1").submit(function () {
            var options = {
                beforeSubmit: function (formData, jqForm, options) {
                    $("#MessageBox").html("");
                    var v = jqForm.validate();
                    if (!v.form()) {
                        return false;
                    }
                    $("#ddButton").hide();
                    $("#ddDoing").show();
                    return true;
                },
                success: function (responseText, statusText) {
                    if (statusText == "success") {
                        var d = null;
                        try {
                            d = typeof responseText == 'string' ? responseText.toJsonObj() : responseText; // eval('(' + responseText + ')');
                        } catch (ex) {
                            d = { success: false, message: '服务器出现错误' };
                        }
                        if (d.success) {
                            alert("修改成功！");
                            $("#ddButton").show();
                            $("#ddDoing").hide();
                            $("#MessageBox").html("");
                        }
                        else {
                            $("#ddButton").show();
                            $("#ddDoing").hide();
                            $("#MessageBox").html("").html(d.message);
                        }
                    }
                    else {
                        $("#ddButton").show();
                        $("#ddDoing").hide();
                        $("#MessageBox").html("").html("提交失败");
                    }
                }
            };
            $(this).ajaxSubmit(options);
            return false;
        });
    });
</script>
</div>
</div>
</div>


