@{   
    Layout = null;
    var list = ViewData["Permissions"] as List<PermissionMenu>;
    
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Admin_Meta")
    <link rel="stylesheet" href="/Hui/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <title>权限管理</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>    
    </nav>
    <div class="page-container">        
        <div class="cl pd-5 bg-1 bk-gray mt-20"> 
            <span class="l">
            <a href="javascript:;" onclick="admin_permission_action('添加权限节点', '/admin/permissionview', '', '310')" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a>
            </span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="7">权限节点</th>
                </tr>
                <tr class="text-c">  
                    <th width="200">权限名称</th>
                    <th>访问地址</th>                    
                    <th width="60">ID</th>
                    <th width="60">ParentID</th>
                    <th width="80">排序</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody> 
                @if (list != null && list.Count() > 0)
                {
                    foreach (var o in list.Where(p=>p.ParentId==0).OrderBy(ob=>ob.Sort))
                    {
                        <tr class="text-c">
                            <td class="text-l">@(o.Name)</td>
                            <td>@(o.Url)</td>
                            <td>@(o.PermissionId)</td>
                            <td>@(o.ParentId)</td>
                            <td>@(o.Sort)</td>
                            <td>
                                <a title="编辑" href="javascript:;" onclick="admin_permission_action('角色编辑', '/admin/permissionview?id=@(o.PermissionId)', '', '310')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>                                
                            </td>
                        </tr>
                        foreach (var oo in list.Where(p => p.ParentId == o.PermissionId).OrderBy(ob => ob.Sort))
                        {
                            <tr class="text-c">
                                <td class="text-l">&nbsp;&nbsp;&nbsp;├ @(oo.Name)</td>
                                <td>@(oo.Url)</td>
                                <td>@(oo.PermissionId)</td>
                                <td>@(oo.ParentId)</td>
                                <td>@(oo.Sort)</td>
                                <td>
                                    <a title="编辑" href="javascript:;" onclick="admin_permission_action('角色编辑', '/admin/permissionview?id=@(oo.PermissionId)', '', '310')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                    <a title="删除" href="javascript:;" onclick="admin_permission_del(this, '@(oo.PermissionId)')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                </td>
                            </tr>
                        }
                    }

                }
               
            </tbody>
        </table>
    </div>

    <!--_footer 作为公共模版分离出去-->
    @Html.Partial("_Admin_Footer") <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    /*管理员-权限-添加-编辑*/
    function admin_permission_action(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*管理员-权限-删除*/
    function admin_permission_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PermissionRemove")?permissionId=' + id,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        $(obj).parents("tr").remove();
                        layer.msg(data.message, { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(data.message, { icon: 1, time: 1000 });
                    }                    
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
    </script>
</body>
</html>