@{
    Layout = null;
    var list = ViewData["Permissions"] as List<PermissionMenu>;
    var rlist = ViewData["RolePermission"] as List<UserRolePermission>;
    if (rlist == null) { rlist = new List<UserRolePermission>(); }
    var p = ViewData["Role"] as UserRole;
    if (p == null) { p = new UserRole(); }
    
}
<!DOCTYPE html>
<html>
<head>
@Html.Partial("_Admin_Meta")
<title>角色维护</title>
</head>
<body>
    <article class="page-container">
        <form action="/Admin/RoleAction" method="post" class="form form-horizontal" id="form-admin-role-action">
            <input type="hidden" id="RoleId" name="RoleId" value="@(p.RoleId)">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Name)" placeholder="" id="Name" name="Name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">备注：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@(p.Description)" placeholder="" id="Description" name="Description">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @if (list != null && list.Count() > 0)
                    {
                        foreach (var o in list.Where(ro => ro.ParentId == 0).OrderBy(ob => ob.Sort))
                        {
                            <dl class="permission-list">
                                <dt>
                                    <label>@(o.Name)</label>
                                </dt>
                                <dd>
                                    @foreach (var oo in list.Where(so => so.ParentId == o.PermissionId).OrderBy(ob => ob.Sort))
                                    {
                                        bool ck0 = rlist.Where(e => e.PermissionId.Equals(oo.PermissionId)).Count() > 0;
                                    <dl class="cl permission-list2">
                                        <dt>
                                            <label class="">
                                                <input type="checkbox" @(ck0 ? "checked" : "") value="" name="PermissionId" id="PermissionId-@(oo.PermissionId)">
                                                @(oo.Name)
                                            </label>
                                        </dt>
                                        <dd>
                                            @foreach (var po in EnumHelper.GetItems<PermissionValue>())
                                            {
                                                bool ck = rlist.Where(e => e.PermissionId.Equals(oo.PermissionId) && e.PermissionValue.Equals(EnumHelper.GetValue<PermissionValue>(po.Name))).Count() > 0;
                                                
                                              <label><input type="checkbox" @(ck ? "checked" : "") value="@(o.PermissionId)-@(oo.PermissionId)-@(EnumHelper.GetValue<PermissionValue>(po.Name))" name="PermissionValue" id="PermissionValue-@(oo.PermissionId)">@(po.Description)</label>
                                            }
                                                                                       
                                        </dd>
                                    </dl>
                                    }
                                </dd>
                            </dl>
                        }
                    }
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
                </div>
            </div>
        </form>
    </article>  
    <!--_footer 作为公共模版分离出去-->
      @Html.Partial("_Admin_Footer") <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
    $(function () {
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }
        });
        $("#form-admin-role-action").validate({
            rules: {
                roleName: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit();
                var index = parent.layer.getFrameIndex(window.name);                
                parent.location.reload();
                parent.layer.close(index);
            }
        });
    });
    </script>    
</body>
</html>