@using MSNet.Tools;
@using MSNet.Tools.Pager;
@{
    ViewBag.Title = "栏目管理";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var code = Request["code"];
    var pid = Request["PId"].ToInt();
    var list = ViewData["CategoryList"] as List<MSNet.Models.Category>; //新闻
    var clist = ViewData["AllCategoryList"] as List<MSNet.Models.Category>;    
}
<div id="HMain">
<div class="Main">
<div class="HTitle"><a href="/admin/categorylist?code=@(code)">栏目列表</a></div>
<div class="MMain">
    <table class="DataGrid" border="0" cellpadding="0" cellspacing="1">
    <tr class="Header">
    <td class="W_5">ID</td>  
    <td>栏目名称</td> 
    @if (pid>0)
    {
     <td class="W_5">子栏目</td>
    }
    <td class="W_15">添加时间</td>
    <td class="W_15">添加人员</td>   
    <td class="W_20">操作</td>
    </tr>
        @if (list != null&&list.Count>0)
        {
            foreach (var c in list)
            {
                <tr>
                    <td class="Tal_C">@(c.CategoryId)</td>
                    <td class="Tal_C"><a href="/admin/@(c.CategoryCode)list?CategoryId=@(c.CategoryId)">@(c.CategoryName)</a></td>
                    @{ var snum = (from q in clist where q.ParentId == c.CategoryId select q).Count();
                     //var cnum = new DALCategory().CkeckCategoryIsExistContent(c.CategoryId);
                     if (pid > 0)
                     {

                         if (snum > 0)
                         {
                            <td class="Tal_C"><a href="/admin/categorylist?code=@(c.CategoryCode)&PId=@(c.CategoryId)">查看(@snum)</a></td>
                         }
                         else
                         {
                            <td class="Tal_C">查看(0)</td>
                         }
                     }
                    }
                    <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(c.CreatedTime))</td>
                    <td class="Tal_C">@(c.CreatedUser)</td>
                    <td class="Tal_C">
                        @if (pid > 0)
                        {
                            <img class="DoImg" ids="subadd" urls="/admin/category?code=@(code)&pid=@(c.CategoryId)" src="/Content/Images/add.gif" title="添加子栏目" />
                        }
                        <img class="DoImg" ids="edit" urls="/admin/category?cid=@(c.CategoryId)&code=@(code)" src="/Content/Images/edit.gif" title="编辑" />
                        <img class="DoImg" ids="cdel" existsub="@(snum)" existcontent="" urls="/admin/delcategory?ids=@(c.CategoryId)" src="/Content/Images/del.gif" title="删除" />
                    </td>
                </tr>
            }
        }    
    else 
    { 
    <tr><td class="Nodata" colspan="6">暂无相关栏目！</td></tr>
    }      
  </table>
  <div class="ButonAdd">
   <span class="add" urls="/admin/category?code=@(code)"  title="添加栏目">添加栏目</span>   
  </div>
  @*@Html.Pager(list)*@  
</div>
</div>
</div>
