@{
    ViewBag.Title = "修改管理员信息";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var u = ViewData["Users"] as MSNet.Models.Users;  
}
<script language="javascript" type="text/javascript" src="@Url.Content("~/Content/My97DatePicker/WdatePicker.js")"></script>
<div id="HMain">
<div class="Main">
<div class="HTitle">修改管理员信息</div>
<div class="MMain">
<form id="form1" method="post" action="@Url.Action("EditUsersAction")">
<input type="hidden" id="UserId" name="UserId"  value="@(u.UserId)"  />
    <table id="EditTable"  class="Edit" border="0" cellpadding="0" cellspacing="1">
     <tr><th>用户名称</th>
     <td><input type="text" id="username" name="username" class="Etext" maxlength="10" value="@(u.UserName)" 
            data-val="true" 
            data-val-length="用户名需要5-16个字符！" 
            data-val-required="用户名不能为空！" 
            data-val-length-max="16" 
            data-val-length-min="5"/>
          <span class="field-validation-valid"  data-valmsg-for="username" data-valmsg-replace="true"></span>
      </td></tr>
     <tr><th>用户密码</th>
     <td><input type="password" id="userpass" name="userpass" class="Etext" maxlength="16" value="" 
           data-val="true" 
           data-val-length="密码需要6-16个字符！" 
           data-val-length-max="16" 
           data-val-length-min="6"/>
     <span class="Message">（不填写为不修改密码）</span>
     <span class="field-validation-valid"  data-valmsg-for="userpass" data-valmsg-replace="true"></span>
     </td></tr>       
     <tr><th>用户到期时间</th>
     <td><input type="text" id="stoptime" name="stoptime" value="@("{0:yyyy-MM-dd}".FormatString(u.UserStopTime))" readonly="readonly" onfocus="WdatePicker({isShowClear:true,readOnly:true,minDate:'%y-%M-#{%d+1}'});" class="Etext" /><span class="Message">（不选时间代表永不过期）</span></td></tr>
     <tr><th>用户状态</th>
     <td><select id="status" name="status" class="Eselect"><option value="0" @(u.Status == 0 ? "selected=\"selected\"" : "")>正常</option><option value="1" @(u.Status == 1 ? "selected=\"selected\"" : "")>锁定</option></select></td></tr>
   </table>
  <div class="ButtonDiv" id="ddDoing" style="display:none;"><img src="@Url.Content("~/Content/Images/ajax_loading.gif")" style="display:inline;" /> 正在提交...</div>
  <div class="ButtonDiv" id="ddButton">
  <input type="submit" class="inputbutton" title="保存" value="保存" id="Save" />&nbsp;
  <input type="button" class="inputbutton" title="取消" value="取消" id="GoBack" />
  </div>
  <div class="ButtonDiv">
  <span id="MessageBox"></span>
  </div>
</form>
</div>
</div>
</div>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.extend.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#username,#userpass,#stoptime,#status").keyup(function () { $("#MessageBox").html(""); });
        $("#GoBack").click(function () { location.href = "/admin/adminlist"; });
        $("#form1").submit(function () {
            var options = {
                beforeSubmit: function (formData, jqForm, options) {
                    $("#MessageBox").html("");
                    var v = jqForm.validate();
                    if (!v.form()) {
                        return false;
                    }                   
                    $("#ddButton").hide();
                    $("#ddDoing").show();
                    return true;
                },
                success: function (responseText, statusText) {
                    if (statusText == "success") {
                        var d = null;
                        try {
                            d = typeof responseText == 'string' ? responseText.toJsonObj() : responseText; // eval('(' + responseText + ')');
                        } catch (ex) {
                            d = { success: false, message: '服务器出现错误' };
                        }
                        if (d.success) {                            
                            location.href ="/admin/adminlist";
                        }
                        else {                           
                            $("#ddButton").show();
                            $("#ddDoing").hide();
                            $("#MessageBox").html("").html(d.message);
                        }
                    }
                    else {                    
                        $("#ddButton").show();
                        $("#ddDoing").hide();
                        $("#MessageBox").html("").html("提交失败");
                    }
                }
            };
            $(this).ajaxSubmit(options);
            return false;
        });
    });
</script>