@using MSNet.Models;
@{  
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var clist = ViewData["CategoryList"] as IList<Category>;    
    var news = ViewData["News"] as News;    
    ViewBag.Title = (news.Title.IsNullOrEmpty()) ? "添加新闻" : "修改新闻";
    var cId = Request["cid"].ToInt();
}
<script language="javascript" type="text/javascript" src="@Url.Content("~/Content/Fckeditor/fckeditor.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<div id="HMain">
<div class="Main">
<div class="HTitle">@((news.Title.IsNullOrEmpty()) ? "添加新闻" : "修改新闻")</div>
<div class="MMain">
<form id="form1" enctype="multipart/form-data" method="post">
<input type="hidden" id="NewsId" name="NewsId"  value="@(news.NewsId)"  />
    <table id="EditTable"  class="Edit" border="0" cellpadding="0" cellspacing="1">
     <tr><th>新闻标题</th>
     <td><input type="text" id="Title" name="Title" class="Etext" maxlength="30" value="@(news.Title)" />
         <span class="field-validation-valid"  id="sTitle"></span>
      </td></tr>     
     <tr><th>所属栏目</th>
     <td>
     <select id="CategoryId" name="CategoryId" class="Eselect" title="所属栏目">
     <option value="0">--请选择--</option>
     @foreach(var ls in clist.Where(p=>p.Depth==0&&p.CategoryId!=22))
     {
      <option value="@ls.CategoryId" @(((news.CategoryId==ls.CategoryId)||cId==ls.CategoryId)?"selected='selected'":"")>@ls.CategoryName</option>                
     }
     
     </select>
     <span class="field-validation-valid"  id="sCategoryId"></span>
     </td></tr>
     <tr><th>是否置顶</th><td><input type="checkbox" id="IsTop" name="IsTop" @((news.IsTop == 1) ? "checked='checked'" : "")  value="1"/><label for="IsTop">是</label></td></tr>
     <tr><th>上传图片</th>
     <td>
      <div id="AutoUpFile" style="width:190px">
            @if (!news.PictureUrl.IsNullOrEmpty())
            {
                var pictureUrl = news.PictureUrl.Contains("/Content/Upload/") ? news.PictureUrl : "/Content/Upload/" + news.PictureUrl;                       
                
                <input type="button" class="AutoUpFile_Img" title="查看图片" value="查看图片" id="ShowPicture" 
                       iw="634"
                       ih="512"
                       iu="@(pictureUrl)"
                       onclick="ShowPictureEvt(this)" />
            }
            <input type="hidden" id="PictureUrl" name="PictureUrl" class="AutoUpFile_File" value="@(news.PictureUrl.IsNullOrEmpty() ? "" : news.PictureUrl)" />
            <input type="button" class="AutoUpFile_Button" title="上传文件" value="上传文件" id="UpPicture" />
     </div>(置顶新闻:宽635px*高580px) (普通新闻:宽265px*高275px)
     </td></tr>
     <tr><th>新闻内容</th>
     <td><textarea id="tContent" name="tContent" class="Etextarea"> @(news.Contents)</textarea>
         <input id="Contents" name="Contents" type="hidden" value="" />  
     <span class="field-validation-valid"  id="sContent"></span>        
    </td></tr>     
   </table>
  <div class="ButtonDiv" id="ddDoing" style="display:none;"><img src="@Url.Content("~/Content/Images/ajax_loading.gif")" style="display:inline;" /> 正在提交...</div>
  <div class="ButtonDiv" id="ddButton">
  <input type="button" class="inputbutton" title="保存" value="保存" id="Save" />&nbsp;
  <input type="button" class="inputbutton" title="取消" value="取消" id="GoBack" />
  </div>
  <div class="ButtonDiv">
  <span id="MessageBox"></span>
  </div>
</form>
</div>
</div>
</div>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.extend.js")" type="text/javascript"></script>
<div id="ShowMain" style="display:none;">
    <img id="showImg" alt="" src="" />
</div>

<script type="text/javascript">
    function ShowPictureEvt(o) {
        var iUrl =  $(o).attr("iu");
        var iWidth = $(o).attr("iw");
        var iHeight = $(o).attr("ih");
        var dW = parseInt(iWidth) + 20;
        var dH = parseInt(iHeight) + 50;
        $("#showImg").css({ "width": iWidth + "px", "height": iHeight + "px" }).attr("src", iUrl);
        $("#ShowMain").dialog({
            title: "查看图片",
            width: dW,
            height: dH,
            resizable: false,
            modal: true
        });
    }

</script>


<div id="DoMain" style="display:none;">
<div class="Main">
<div class="Body">
    <form id="DoMainForm" method="post" action="/admin/UpLoadImage" enctype="multipart/form-data">
        <input type="file" id="UploadFile" name="UploadFile" class="File" />&nbsp;<input id="FileUploadSubmit" type="submit" value="上传文件" title="上传文件" />
        <div class="Message">只能上传：jpg,gif,png类型文件，大小不能超过2M。</div>
    </form>
 <div id="Ajax_Loading" style="display:none;">正在上传文件，请稍等……</div>
<div id="UpMessage"></div>
</div>
</div>
</div>

<script type="text/javascript">
    function get_rsp_d(rsp) {       
        var d = null;
        try {
            d = typeof rsp == 'string' ? rsp.toJsonObj() : rsp; 
        }
        catch (ex) { d = { success: false, message: '操作失败，服务器异常' }; }
        return d;
    }
    $(function () {
        $("#UpPicture").click(function () {
            $("#DoMain").dialog({
                title: "上传图片",
                height: 150,
                width: 400,
                modal: true
            });
        });
        $("#DoMainForm").submit(function () {
            var options = {
                beforeSubmit: function (formData, jqForm, options) {
                    $("#UpMessage").html("");
                    $("#Ajax_Loading").show();
                    return true;
                },
                success: function (responseText, statusText) {    
                    if (statusText == "success") {
                        var d = get_rsp_d(responseText);                     
                        if (d.success) {
                            $("#Ajax_Loading").hide();                         
                            $("#PictureUrl").val(d.message);
                            $("#DoMain").dialog('close');
                        }
                        else {
                            $("#Ajax_Loading").hide();
                            $("#UpMessage").html("").html(d.message);
                        }
                    }
                    else {
                        $("#Ajax_Loading").hide();
                        $("#UpMessage").html("").html("提交失败");
                    }
                }

            };
            $(this).ajaxSubmit(options);
            return false;
        });
    })   
</script>
<script type="text/javascript">
    $("#GoBack").click(function () { location.href = "/admin/newslist?CategoryId=@(cId)"; });
    var oFCKeditor = new FCKeditor("tContent");
    oFCKeditor.ReplaceTextarea();
    $(function () {
        $("#Title").blur(function () { $("#MessageBox,#sTitle").html(""); if ($.trim($("#Title").val()) == "") { $("#sTitle").html("标题不能为空!"); $("#Title").focus(); return; } });
        $("#CategoryId").blur(function () { $("#MessageBox,#sCategoryId").html(""); if ($("#CategoryId").val() == "0") { $("#sCategoryId").html("请选择所属栏目!"); $("#CategoryId").focus(); return; } });

        $("#Save").click(function () {
            $("#MessageBox,#sTitle,#sCategoryId").html("");
            if ($.trim($("#Title").val()) == "") { $("#sTitle").html("标题不能为空!"); $("#Title").focus(); return; }
            if ($("#CategoryId").val() == "0") { $("#sCategoryId").html("请选择所属栏目!"); $("#CategoryId").focus(); return; }
            $("#Contents").val(FCKeditorAPI.GetInstance("tContent").GetXHTML());
            if ($.trim($("#Contents").val()) == "") { $("#Contents").html("新闻内容不能为空!"); return; }
            $.post("@Url.Action("NewsAction")",$("#form1").serialize(),function(responseText ){

                        var d = null;
                        try {
                            d = typeof responseText == 'string' ? responseText.toJsonObj() : responseText; // eval('(' + responseText + ')');
                        } catch (ex) {
                            d = { success: false, message: '服务器出现错误' };
                        }
                        if (d.success) {
                            location.href = "/admin/newslist?CategoryId=@(cId)";
                        }
                        else {
                            $("#ddButton").show();
                            $("#ddDoing").hide();
                            $("#MessageBox").html("").html(d.message);
                        }

                });
        });

    });
</script>