@using MSNet.Tools;
@using MSNet.Tools.Pager;
@{
    ViewBag.Title = "网站后台管理-新闻列表";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var clist = ViewData["CategoryList"] as IList<MSNet.Models.Category>;
    var list = ViewData["NewsList"] as PagedList<MSNet.Models.News>; //新闻
    var CategoryId = Request["CategoryId"].ToInt();
    var Title = Request["Title"].UrlDecode();
    
}
<div id="HMain">
<div class="Main">
<table class="Search" border="0" cellpadding="0" cellspacing="1">
    <tr>
    <td class="W_60">新闻标题：</td>
    <td class="W_80"><input type="text" id="Title" name="Title" class="Etext" maxlength="50"  value="@(Title)"/></td>
    <td class="W_60">所属栏目：</td>
  
        <td class="W_80">
        <select id="CategoryId" class="Eselect" title="所属栏目">
         <option value="0">--请选择--</option>
         @foreach (var ls in clist.Where(p => p.Depth == 0 && p.CategoryId != 22))
         {
           <option value="@ls.CategoryId" @(CategoryId==ls.CategoryId?"selected='selected'":"")>@ls.CategoryName</option>      
         }
        </select>
        </td>
        
    <td class="W_60"><input type="button" class="inputbutton" title="搜索" value="搜索" id="nSearch" /></td>
    <td></td>
    </tr>
</table>
<script type="text/javascript">
    $(function () {
        $("#nSearch").click(function () {
            var title = $("#Title").val();
            var cid = $("#CategoryId").val();
            var url = "/admin/newslist?t=" + new Date().getTime();
            if ($.trim(title) != "") {
                url += "&Title=" + $.trim(title);

            }
            if ($.trim(cid) != "0") {
                url += "&CategoryId=" + $.trim(cid);
            }
            location.href = url;
        });
    })
</script>
</div>
<div class="Main">

<div class="HTitle"><a href="@Url.Action("newslist")">新闻列表</a></div>
<div class="MMain">
    <table class="DataGrid" border="0" cellpadding="0" cellspacing="1">
    <tr class="Header">
    <td class="W_5"><input type="checkbox" class="ckAll" /></td>
    <td class="W_5">ID</td>
    <td>新闻标题</td>
    <td class="W_15">所属栏目</td>    
    <td class="W_15">添加时间</td>
    <td class="W_15">添加人员</td>   
    <td class="W_20">操作</td>
    </tr>
@if(list!=null&&list.Count()>0)
{
    foreach (var n in list)
    {
         <tr>
            <td class="Tal_C"><input type="checkbox" class="ckThis" value="@(n.NewsId)" /></td>
            <td class="Tal_C">@(n.NewsId)</td>
            <td>@(n.Title)</td>
            <td class="Tal_C">@(n.CategoryName)</td>
            <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(n.CreatedTime))</td>           
            <td class="Tal_C">@(n.CreatedUser)</td>
            <td class="Tal_C">                         
            <img class="DoImg" ids="edit" urls="/admin/news?nid=@(n.NewsId)&cid=@(n.CategoryId)" src="/Content/Images/edit.gif" title="编辑" />      
            <img class="DoImg" ids="top" urls="/admin/topnews?nid=@(n.NewsId)" src="/Content/Images/Top@(n.IsTop).gif" title="@(n.IsTop == 0 ? "置顶" : "取消置顶")" />
            <img class="DoImg" ids="sdel" urls="/admin/delnews?ids=@(n.NewsId)" src="/Content/Images/del.gif" title="删除"/>        
            </td>
           </tr>    
    }   
   
} 
else
{
    <tr><td class="Nodata" colspan="6">暂无相关新闻！</td></tr>
}  
  </table>
  <div class="ButonAdd">
   <span class="add" urls="@Url.Action("news")?cid=@(CategoryId)"  title="添加新闻">添加新闻</span>
   <span class="del" urls="@Url.Action("delnews")"  title="删除新闻">删除新闻</span>  
  </div>
  @Html.Pager(list)  
</div>
</div>
</div>