@{
    ViewBag.Title = "网站后台管理-管理员列表";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var list = ViewData["RoleList"] as IList<MSNet.Common.Passports.Role>;
    var user = MSNet.Common.Web.UserAuthentication.CurrentUser;
}
<div id="HMain">
<div class="Main">
<div class="HTitle"><a href="@Url.Action("rolelist")">角色列表</a></div>
<div class="MMain">

    <table class="DataGrid" border="0" cellpadding="0" cellspacing="1">
    <tr class="Header">
     @*<td class="W_5"><input type="checkbox" class="ckAll" /></td>*@
     <td class="W_5">RoleId</td>
     <td class="W_15">名称</td>     
     <td>描述</td>
     <td class="W_15">RoleType</td>  
     <td class="W_15">添加时间</td>
     <td class="W_15">修改时间</td>
     <td class="W_20">操作</td>
    </tr>
    @if (list != null && list.Count() > 0)
    {

        foreach (var o in list)
        {
            <tr>
                @*<td class="Tal_C"><input type="checkbox" class="ckThis" value="@(o.RoleId)" /></td>*@
                <td class="Tal_C">@(o.RoleId)</td>
                <td class="Tal_C">@(o.Name)</td>                
                <td>@(o.Description.IsNullOrEmpty() ? "无" : o.Description.Sub(10, true))</td>
                <td class="Tal_C">@(EnumHelper.GetDescription<RoleType>(o.RoleType))</td>
                <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(o.CreatedTime))</td>
                <td class="Tal_C">@("{0:yyyy-MM-dd}".FormatString(o.LastModifiedTime))</td>
                <td class="Tal_C">
                    <img class="DoImg" ids="edit" urls="/admin/RoleView?id=@(o.RoleId)" src="/Content/Images/edit.gif" title="编辑" />
                    <img class="DoImg" ids="sdel" urls="/admin/DelRole?id=@(o.RoleId)" src="/Content/Images/del.gif" title="删除" />
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td class="Nodata" colspan="7">暂无相关信息！</td></tr>
    }
  </table>
  <div class="ButonAdd">
   <span class="add" urls="@Url.Action("RoleView")"  title="添加">添加</span>
   </div>
 
</div>
</div>
</div>
